.input {
    height: 48px;
    min-width: 209px;
    @apply relative border border-disable flex items-center rounded;
    &::placeholder {
      @apply border-disable;
    }
  
    select {
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
    }
  }
  