<div class="grid grid-cols-12 min-h-[320px] gap-x-10">
    <div class="grid gap-y-2 col-span-4 bg-opacity-30">
        <app-card *ngFor="let item of submissionService.currentData()" [item]="item"></app-card>
    </div>
    <div class="grid col-span-8 bg-blue-400 bg-opacity-30">
        <google-map height="100%"
        width="100%"
        [center]="center"

        [zoom]="zoom"
        (mapClick)="addMarker($event)">
<map-marker icon="/assets/icon.svg" *ngFor="let markerPosition of markerPositions"
          [position]="markerPosition"
          [options]="markerOptions">
            Position Here
        </map-marker>
</google-map>
    </div>
</div>