<div class="grid grid-cols-12 min-h-[320px] gap-x-10">
    <div class="grid gap-y-2 col-span-4 bg-opacity-30">
        <app-card *ngFor="let item of submissionService.currentData()" [item]="item"></app-card>
    </div>
    <div class="grid col-span-8 bg-blue-400 bg-opacity-30">
        <div style="width: 100%; height: 100%;"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">area maps</a></iframe></div>
    </div>
</div>