<div class="input" [ngClass]="{ '!border-primary ': active }">
    <span (click)="active = true; picker.open()" class="cursor-pointer inline-flex items-center justify-center">
        <mat-icon class="text-disable mx-2" fontIcon="date_range"></mat-icon>
    </span>
    <input (focus)="active = true" (blur)="active = false" #input class="outline-none h-full border-none focus:outline-none active:outline-none" matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker (closed)="active = false" #picker startView="month"></mat-datepicker>

</div>