<div class="flex justify-between mt-7">
    <div class="flex gap-x-10">
        <app-search-input (input)="onSearch($event)"></app-search-input>
        <app-search-select [value]="this.submissionService.filter.from" (optionChange)="onFromFilter($event)" [options]="fromOptions()" label="Select From"></app-search-select>
        <app-select-input [value]="this.submissionService.filter.status" (optionChange)="onStatusFilter($event)" [options]="statusOptions" label="Select Status"></app-select-input>
        <app-date-picker></app-date-picker>
    </div>
    <div class="flex items-center gap-x-6">
        <app-toggle [options]="options" [activeValue]="this.submissionService.activeValue" (toggleValue)="this.submissionService.activeValue = $event"></app-toggle>
        <div>
            <button class="inline-flex items-center text-primary" (click)="dowloadCsv()">
                <img src="/assets/export.svg" alt="Export"> Export</button>
        </div>
    </div>
</div>