<div class="p-4 border border-disable rounded bg-white card">
    <h5 class="font-bold text-lg">Work Flow: Requires Location</h5>
    <p>
        <span>
            From:
        </span>
        denisgordiyenya@gmail.com
    </p>
    <p>
        <span>
            To:
        </span>
        denisgordiyenya@gmail.com
    </p>

    <p class="text-error">
        <span>
            Due Date:
        </span>
        denisgordiyenya@gmail.com
    </p>
    <app-pill label="Uncomplete" statusColor="green"></app-pill>
</div>