<div class="p-4 border border-disable rounded bg-white card relative">
    <h5 class="font-bold text-lg">{{ item.task }}</h5>
    <p>
        <span>
            From:
        </span>
        {{ item.from }}
    </p>
    <p>
        <span>
            To:
        </span>
        {{ item.to }}
    </p>

    <p class="text-error">
        <span>
            Due Date:
        </span>
        {{ item.due_date | date: 'dd LLL' }}
    </p>
    <div class="absolute top-4 right-4">
        <app-pill [label]="item.status || ''" [statusColor]="getStatus(item.status ?? '')"></app-pill>
    </div>
</div>