/* For use in src/lib/core/theming/_palette.scss */
$zendu: (
    50 : #e4f1fa,
    100 : #bcdbf4,
    200 : #90c4ec,
    300 : #64ace4,
    400 : #429adf,
    500 : #2188d9,
    600 : #1d80d5,
    700 : #1875cf,
    800 : #146bca,
    900 : #0b58c0,
    A100 : #ecf3ff,
    A200 : #b9d4ff,
    A400 : #86b4ff,
    A700 : #6da4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

